@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* =========== General CSS ========= */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

img {
  width: 100%;
}

section {
  margin-top: 1rem;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.btn-primary {
  border: 0;
  padding: 18px 22px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  background: #ff900e;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-primary:hover {
  background: #f88a0c;
}

/* ======================
   Header & nav Section Styles
   ====================== */

header {
  height: auto;
  background: rgba(255, 144, 14, 0.1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 40px;
  color: #131313;
}

.items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
}

.items li {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 22px !important;
}

/*==================== 
Header-Banner Section 
====================== */

.header-banner {
  margin-top: 35px;
}

.banner-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 16px;
}

.banner-description {
  font-size: 16px;
  color: #727272;
  line-height: 22px;
  text-align: center;
  margin-top: 17px;
}

.explore-button {
  text-align: center;
  margin: 18px 0;
}

.first img {
  margin-top: 18px;
}

/*=============================
Quick feature Section Style
===============================*/

.quick-feature {
  padding: 62px 20px;
  display: flex;
  align-items: center;
  gap: 65px;
}

.quick-feature-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Image size increase */
.quick-feature-left img {
  width: 250px;
}

.quick-feature-right-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
  margin-bottom: 16px;
}

.bold {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.bold-orange {
  font-weight: 700;
  font-size: 45px;
  color: #ff900e;
}

.quick-feature-right-description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 16px;
}

.quick-feature-right .btn-primary {
  margin-bottom: 4px;
}

/* ==========================
  Feature List Section Style
  ==========================*/

.feature-list-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.list-content {
  width: 50%;
}

.image-content {
  position: relative;
  width: 50%;
}

.feature-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 17px;
  padding-left: 1.5rem;
  border-left: 3px solid #ff900e;
}

.feature-description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 14px;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  background: #ffffff;
  /* box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06); */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  padding: 30px 40px 30px 30px;
  margin-top: 5px;
}

.feature-card-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 15px;
}

.feature-card-description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* feature Right Side */

.experience-btn {
  border: none;
  background: #ff900e;
  border-radius: 8px;
  color: #ffffff;
  padding: 30px 32px;
  position: relative;
  left: 0;
  top: -70px;
}

.experience-btn span {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3px;
}

.experience-btn p {
  font-weight: 500;
  font-size: 18px;
}

/*========================
   Some Fact Section Style
  ===================== */

.facts {
  margin-top: 65px;
}

.section-title {
  font-weight: 700;
  font-size: 2.75rem;
  color: #131313;
  margin-bottom: 15px;
}

.section-description {
  font-size: 16px;
  color: #727272;
}

.facts-cards {
  padding: 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-align: center;
  gap: 28px;
}

.facts-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 50px 40px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.facts-card:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.facts-card:hover .fact-icon {
  animation: icon-animate 1s linear infinite;
}

@keyframes icon-animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.fact-icon {
  width: 45.22px;
  height: 45.22px;
  margin: 0 auto 10px auto;
}

.facts-card span {
  font-weight: 600;
  font-size: 40px;
  color: #424242;
  margin: 5px auto 0 auto;
}

.facts-card p {
  font-weight: 600;
  font-size: 18px;
  color: #727272;
}

/*========================
   sponsors Section Style
  ===================== */

.sponsor {
  text-align: center;
  margin-top: 80px;
}

.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  text-align: center;
  margin-bottom: 10px;
}

.sponsor-description {
  font-size: 16px;
  color: #727272;
  text-align: center;
  margin-bottom: 15px;
}

.sponsor-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 33px;
}

.black {
  filter: grayscale(100%);
}

/* ===================
  footer section style
  =================== */
.footer {
  margin-top: 90px;
  background: #fff2e7;
  padding: 40px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Second footer sub */
footer {
  border-top: 1px solid #424242;
  background: #fff4e7;
  border-radius: 8px;
  padding: 35px;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #424242;
}

.footer-logo {
  margin-bottom: 8px;
  color: #424242;
}

.footer-link {
  color: #424242;
  font-weight: 600;
  font-size: 20px;
}

.footer-1 ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.footer-1 ul li {
  cursor: pointer;
  font-size: 18px;
  color: #424242;
}

.footer-2 ul {
  list-style: none;
  margin-top: 8px;
  line-height: 30px;
}

.footer-2 ul li {
  color: #424242;
}

.footer-2 ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
